<div class="features">
  <div class="container">
    <ul class="features__inner">
      <li>
        <svg>
          <use xlink:href='assets/img/sprite.svg#wallet'></use>
        </svg>
        <p>100% bani înapoi</p>
      </li>
      <li>
        <svg>
          <use xlink:href='assets/img/sprite.svg#delivery-truck'></use>
        </svg>
        <p>Livrare gratuita pentru
          comanda peste 500<span>mdl</span></p>
      </li>
      <li>
        <svg>
          <use xlink:href='assets/img/sprite.svg#stay-at-home'></use>
        </svg>
        <p>Transport maritim
          fără contact</p>
      </li>
      <li>
        <svg>
          <use xlink:href='assets/img/sprite.svg#like'></use>
        </svg>
        <p>Peste 100.000 de
          clienți satisfăcuți</p>
      </li>
      <li>
        <svg>
          <use xlink:href='assets/img/sprite.svg#present'></use>
        </svg>
        <p>Oferim cadouri
          din 2010!</p>
      </li>
    </ul>
  </div>
</div>