<div class="recommended-products">
  <div class="container">
    <h2>Produse din aceiasi categorie</h2>
    <div class="recommended-products__inner">
      <div class="swiper-container recommended-products__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-card">
              <div class="product-card__fire"></div>
              <div class="product-card__heart"></div>
              <div class="product-card__img">
                <img class="lozad" data-src="./assets/img/products/recommended/1.jpg" alt="">
              </div>
              <div class="product-card__bottom">
                <a href="#" class="product-card__title">
                  Trandafiri Rosii
                </a>
                <div class="product-card__price">
                  <div class="product-card__price-old">
                    160 mdl
                  </div>
                  <div class="product-card__price-new">
                    134 mdl
                  </div>
                </div>
                <div class="product-card__row">
                  <button class="btn btn--icon-right">Cumpără</button>
                  <div class="product-card__code">
                    E-3601
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <div class="product-card__fire"></div>
              <div class="product-card__heart"></div>
              <div class="product-card__img">
                <img class="lozad" data-src="./assets/img/products/recommended/2.jpg" alt="">
              </div>
              <div class="product-card__bottom">
                <a href="#" class="product-card__title">
                  Trandafiri Rosii
                </a>
                <div class="product-card__price">
                  <div class="product-card__price-old">
                    160 mdl
                  </div>
                  <div class="product-card__price-new">
                    134 mdl
                  </div>
                </div>
                <div class="product-card__row">
                  <button class="btn btn--icon-right">Cumpără</button>
                  <div class="product-card__code">
                    E-3601
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <div class="product-card__fire"></div>
              <div class="product-card__heart"></div>
              <div class="product-card__img">
                <img class="lozad" data-src="./assets/img/products/recommended/3.jpg" alt="">
              </div>
              <div class="product-card__bottom">
                <a href="#" class="product-card__title">
                  Trandafiri Rosii
                </a>
                <div class="product-card__price">
                  <div class="product-card__price-old">
                    160 mdl
                  </div>
                  <div class="product-card__price-new">
                    134 mdl
                  </div>
                </div>
                <div class="product-card__row">
                  <button class="btn btn--icon-right">Cumpără</button>
                  <div class="product-card__code">
                    E-3601
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <div class="product-card__fire"></div>
              <div class="product-card__heart"></div>
              <div class="product-card__img">
                <img class="lozad" data-src="./assets/img/products/recommended/4.jpg" alt="">
              </div>
              <div class="product-card__bottom">
                <a href="#" class="product-card__title">
                  Trandafiri Rosii
                </a>
                <div class="product-card__price">
                  <div class="product-card__price-old">
                    160 mdl
                  </div>
                  <div class="product-card__price-new">
                    134 mdl
                  </div>
                </div>
                <div class="product-card__row">
                  <button class="btn btn--icon-right">Cumpără</button>
                  <div class="product-card__code">
                    E-3601
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <div class="product-card__fire"></div>
              <div class="product-card__heart"></div>
              <div class="product-card__img">
                <img class="lozad" data-src="./assets/img/products/recommended/5.jpg" alt="">
              </div>
              <div class="product-card__bottom">
                <a href="#" class="product-card__title">
                  Trandafiri Rosii
                </a>
                <div class="product-card__price">
                  <div class="product-card__price-old">
                    160 mdl
                  </div>
                  <div class="product-card__price-new">
                    134 mdl
                  </div>
                </div>
                <div class="product-card__row">
                  <button class="btn btn--icon-right">Cumpără</button>
                  <div class="product-card__code">
                    E-3601
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>