.popup-cart {
   width: 344px;
   min-height: 155px;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
   box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
   background-color: #ffffff;
   padding: 14px 22px 0px 22px;
   position: absolute;
   right: 5px;
   top: 50px;
   z-index: 100;
   visibility: hidden;

   @include mq(866px) {
      top: 40px;
      right: 40px;
   }

   @include mq(560px) {
      right: -15px;
      width: 100vw;
      border-radius: 0px;
   }

   &.active {
      visibility: visible;
      animation: fadeIn 0.2s;

      &:before {
         content: '';
         display: block;
         height: 10px;
         width: 100%;
         background-color: white;
         position: absolute;
         top: -10px;
         left: 0;
      }
   }

   .popup-cart__wrapper {

      .cart-item {
         position: relative;
         border-bottom: 1px solid palette(grey, border-light);
         padding: 14px 0;
         height: 91px;
         @include flex(row, flex-start, flex-start, flex-start, nowrap);

         .cart-item__img {
            img {
               width: 62px;
               height: 62px;
            }
         }

         .cart-item__info {
            margin-left: 15px;
            margin-top: -2px;

            .cart-item__title {
               display: block;
               font-size: 1.4rem;
               color: palette(black, text);
            }

            .cart-item__details {
               font-size: 1.3rem;
               color: palette(grey, text-light);
            }
         }

         .cart-item__delete {
            width: 19px;
            height: 19px;
            overflow: hidden;
            background-color: transparent;
            position: absolute;
            top: 12px;
            right: 0px;

            &:after {
               content: '\f057';
               @include fontAwesome;
               font-size: 1.7rem;
               color: palette(grey, icons);
               position: absolute;
               left: 0;
               top: 0;
               transition: color .1s ease;
            }

            &:hover {
               &:after {
                  color: darken(palette(grey, icons), 15%);
               }
            }
         }
      }
   }

   .popup-cart__bottom {
      height: 57px;
      @include flex(row, space-between, center, center, nowrap);
      font-size: 1.8rem;
      color: palette(grey, text-light);

      .popup-cart__info {
         @include flex(row, flex-start, center, center, nowrap);

         .popup-cart__sum {
            color: palette(black, text);
            font-family: $mainFont-semiBold;
            margin-left: 1rem;
         }

         .popup-cart__currency {
            font-size: 1.4rem;
            color: palette(black, text);
            margin-left: 5px;
         }
      }

      .popup-cart__btn {
         padding: 0 21px;
         font-size: 1.4rem;
         text-transform: initial;
         height: 33px;
         transition: background-color 0.2s ease;
      }
   }
}