.popup-catalog {
   position: absolute;
   top: 70px;
   transition: top .5s ease;
   width: 1110px;
   min-height: 424px;
   box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
   border-top: none;
   background-color: #ffffff;
   z-index: 100;
   visibility: hidden;

   @include mq(1180px) {
      width: 100%;
      left: 0;
   }

   &.active {
      visibility: visible;
      animation: fadeIn 0.2s;

      &:before {
         content: '';
         display: block;
         height: 10px;
         width: 100%;
         background-color: white;
         position: absolute;
         top: -10px;
         left: 0;
      }
   }

   .popup-catalog__inner {
      padding: 20px 20px 0px;
      min-height: 424px;
      display: flex;
      flex-wrap: wrap;

      .popup-catalog__block {
         @include col;
         @include col-3;
         @include flex(row, flex-start, flex-start, center, nowrap);
         margin-bottom: 30px;

         @include mq(999px) {
            @include col-4;
         }

         .popup-catalog__img {
            position: relative;
            width: 60px;
            height: 60px;
            margin: 0 13px 0px 0px;
            border: solid 1px palette(grey, border-light);
            background-color: #ffffff;

            img {
               width: 95%;
               height: auto;
               @include align-center(both);
            }
         }

         ul.popup-catalog__links {

            li {
               @include font-size(13px);
               line-height: 1.85;

               a {
                  color: palette(grey, dark);
                  transition: color .1s ease;

                  &:hover {
                     color: palette(main, dark);
                  }
               }
            }

            .popup-catalog__title {
               font-family: $mainFont-bold;
               margin-bottom: 7px;
            }

            .popup-catalog__more {
               font-family: $mainFont-semiBold;

               a {
                  position: relative;
                  color: palette(main, base);
                  padding-right: 12px;

                  &:after {
                     content: "\f0d7";
                     @include fontAwesome;
                     font-size: 10px;
                     @include align-center(vertical);
                     right: 0px;
                     color: #494746;
                     transition: color 0.2s ease;
                  }
               }
            }
         }
      }
   }
}