/**
 * Variables
 */

// ============================================================================= Colors

// background-color: palette(main, base);
$palettes: (
  main: (
    base: #146cda,
    light: lighten(#146cda,5%),
    dark: darken(#146cda,5%),
  ),
  grey: (
    base: #a5a5a5,
    light: #f9f3f3,
    dark: #565656,
    bg:#f6f6f6,
    bg-light: #f9f9f9,
    bg-darken: #e9e9e9,
    text: #6e6e6e,
    text-light: #9b9b9b,
    icons: #e0e0e0,
    decorations: #EEEEEE,
    border: #dadada,
    border-light: #eae9ee,
  ),
  black: (
    base: #000000,
    text: #242424,
    text-light: #3a3a3a,
  ),
  red: (
    base: #f02709,
    light: #e14337,
    dark: #bd2015,
  ),
  green: (
    base: #12a65b,
    light: #3c763d,
  ),
  yellow: (
    base: #ffd02e,
  )
);


// ============================================================================= Fonts
@include font-face(Montserrat-Thin, montserrat);
@include font-face(Montserrat-ThinItalic, montserrat);
@include font-face(Montserrat-ExtraLight, montserrat);
@include font-face(Montserrat-ExtraLightItalic, montserrat);
@include font-face(Montserrat-ExtraBold, montserrat);
@include font-face(Montserrat-ExtraBoldItalic, montserrat);
@include font-face(Montserrat-Italic, montserrat);
@include font-face(Montserrat-Light, montserrat);
@include font-face(Montserrat-LightItalic, montserrat);
@include font-face(Montserrat-Regular, montserrat);
@include font-face(Montserrat-SemiBold, montserrat);
@include font-face(Montserrat-SemiBoldItalic, montserrat);
@include font-face(Montserrat-Bold, montserrat);
@include font-face(Montserrat-BoldItalic, montserrat);
@include font-face(Montserrat-Medium, montserrat);
@include font-face(Montserrat-MediumItalic, montserrat);
@include font-face(Montserrat-Black, montserrat);
@include font-face(Montserrat-BlackItalic, montserrat);

$font-family: Helvetica, Arial, sans-serif, cursive;

$mainFont-thin: 'Montserrat-Thin', $font-family;
$mainFont-italic: 'Montserrat-Italic', $font-family;
$mainFont-thinItalic: 'Montserrat-ThinItalic', $font-family;
$mainFont-extraLight: 'Montserrat-ExtraLight', $font-family;
$mainFont-extraLightItalic: 'Montserrat-ExtraLightItalic', $font-family;
$mainFont-light: 'Montserrat-Light', $font-family;
$mainFont-lightItalic: 'Montserrat-LightItalic', $font-family;
$mainFont-regular: 'Montserrat-Regular', $font-family;
$mainFont-medium: 'Montserrat-Medium', $font-family;
$mainFont-mediumItalic: 'Montserrat-MediumItalic', $font-family;
$mainFont-semiBold: 'Montserrat-SemiBold', $font-family;
$mainFont-semiBoldItalic: 'Montserrat-SemiBoldItalic', $font-family;
$mainFont-bold: 'Montserrat-Bold', $font-family;
$mainFont-boldItalic: 'Montserrat-BoldItalic', $font-family;
$mainFont-extraBold: 'Montserrat-ExtraBold', $font-family;
$mainFont-extraBoldItalic: 'Montserrat-ExtraBoldItalic', $font-family;
$mainFont-black: 'Montserrat-Black', $font-family;
$mainFont-blackItalic: 'Montserrat-BlackItalic', $font-family;