/**
 * Variables
 */

// ============================================================================= Colors
$main-color: #ffc400;
$border-color: #e4e4e4;

// background-color: palette(gray, light);
$palettes: (
  gray: (
    base: #a5a5a5,
    light: #f9f3f3,
    lighter: #f6f6f6,
    medium: #6c6c6f,
    dark: #3c3d40,
  ),
  black: (
    base: #000000,
    light: #282b33,
    medium: #010101,
  ),
  red: (
    base: #d52c20,
    light: #e14337,
    dark: #bd2015,
  ),
  green: (
    base: #12a65b,
    light: #3c763d,
  ),
);