/**
 * Variables
 */

// ============================================================================= Colors
$main-color: #ffc400;
$border-color: #e4e4e4;

// background-color: palette(main, base);
$palettes: (
  main: (
    base: #f37934,
    light: lighten(#f37934,5%),
    dark: darken(#f37934,5%),
  ),
  grey: (
    base: #a5a5a5,
    light: #f9f3f3,
    dark: #565656,
    bg: #f5f5f5,
    text: #6e6e6e,
    icons: #e0e0e0,
    border: #dadada,
  ),
  black: (
    base: #000000,
    text: #242424,
  ),
  red: (
    base: #d14841,
    light: #e14337,
    dark: #bd2015,
  ),
  green: (
    base: #12a65b,
    light: #3c763d,
  ),
  blue: (
    links: #2c82c9,
  )
);


// ============================================================================= Fonts
@include font-face(Akrobat-Thin, akrobat);
@include font-face(Akrobat-ExtraLight, akrobat);
@include font-face(Akrobat-Light, akrobat);
@include font-face(Akrobat-Regular, akrobat);
@include font-face(Akrobat-SemiBold, akrobat);
@include font-face(Akrobat-Bold, akrobat);
@include font-face(Akrobat-ExtraBold, akrobat);
@include font-face(Akrobat-Black, akrobat);

$font-family: Helvetica, Arial, sans-serif;

$mainFont-thin: 'Akrobat-Thin', $font-family;
$mainFont-extraLight: 'Akrobat-ExtraLight', $font-family;
$mainFont-light: 'Akrobat-Light', $font-family;
$mainFont-regular: 'Akrobat-Regular', $font-family;
$mainFont-semiBold: 'Akrobat-SemiBold', $font-family;
$mainFont-bold: 'Akrobat-Bold', $font-family;
$mainFont-extraBold: 'Akrobat-ExtraBold', $font-family;
$mainFont-black: 'Akrobat-Black', $font-family;