.filter {
   min-width: 260px;
   max-width: 260px;
   margin-right: 2rem;
   display: flex;
   flex-flow: column;

   @include mq(980px) {
      display: none;
   }

   .filter-by {
      position: relative;
      overflow: hidden;
      background-color: white;
      padding: 1rem 3rem;
      border-radius: 7px;
      box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.05);
      margin-top: 1.7rem;

      .filter-by__title {
         position: relative;
         height: 47px;
         @include flex(row, flex-start, center, center, nowrap);
         font-size: 14px;
         font-family: $mainFont;
         font-weight: 600;
         border-bottom: 1px solid #e4e1e1;
         margin-bottom: 1rem;

         &:after {
            content: "\f07b";
            @include fontAwesome;
            font-weight: 500;
            font-size: 16px;
            color: palette(black, text);
            position: absolute;
            right: 0px;
            transition: all .2s ease-in-out;
         }
      }

      ul {
         padding-bottom: 1rem;

         li {
            position: relative;
            font-family: $mainFont;
            font-weight: 400;
            position: relative;
            font-size: 14px;
            display: inline-block;
            padding: 9px 0;
            color: palette(black, text);
            width: 100%;
            cursor: pointer;

            &:hover {
               color: palette(main, base);
            }

            &.active {
               position: relative;
               font-family: $mainFont;
               font-weight: 800;
               color: palette(main, dark);
               cursor: default;

               &:hover {
                  text-decoration: none;
               }

               &:before {
                  content: "";
                  display: block;
                  background-color: palette(main, dark);
                  width: 3px;
                  height: 14px;
                  @include align-center(vertical);
                  left: -10px;
               }
            }
         }
      }
   }

   .filter-by--price {

      .filter-by__title {
         margin-bottom: 3rem;
      }
   }

   .search-bar {
      box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.05);
      margin: 0;

      .input input {
         height: 47px;
      }
   }
}