// Libraries
@import "scss/libs/normalize";
@import "scss/libs/reset";
@import "scss/libs/animations";
@import "scss/libs/fontAwesome";
// PLugins
@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.min";
@import "../../node_modules/owl.carousel/dist/assets/owl.theme.default.min";
// Fonts
@import "scss/fonts";
// Abstracts
@import "scss/abstracts/variables";
@import "scss/abstracts/functions";
@import "scss/abstracts/mixins";
@import "scss/abstracts/smart-grid";
@import "scss/abstracts/utilities";
@import "scss/abstracts/gradients";
// General
@import "scss/general";
// Reusable
@import "scss/layout/reusable/btns";
@import "scss/layout/reusable/sliders";
// Layouts
@import "scss/layout/preloader";
@import "scss/layout/header";
@import "scss/layout/mmenu";
@import "scss/layout/footer";
// Pages
@import "scss/layout/pages/page2/test";