    <!-- start products__main -->
    <div class="products">

      <div class="products__settings">
        <!-- Filter - Mobile version -->
        <div class="filter-btn" data-mfilter-trigger>
          <div class="filter-btn__title">
            Filtrare
            <svg>
              <use xlink:href="assets/img/sprite.svg#filter"></use>
            </svg>
          </div>
        </div><!-- / Filter - Mobile version -->
        <!-- start products__sorting -->
        <div class="products__sorting">
          <label for="catalog">Sortare după:</label>
          <select class="select" name="catalog" id="catalog">
            <option></option>
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
            <option value="SF">San Francisco</option>
            <option value="LA">Los Angeles</option>
          </select>
        </div>
        <!-- end products__sorting -->
      </div>

      <!-- start products__wrapper -->
      <div class="products__wrapper">
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/1.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/2.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/3.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/4.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/5.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/6.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/7.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/8.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/9.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/10.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/11.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/12.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/13.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/14.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/15.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/16.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/17.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/18.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/19.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__fire"></div>
          <div class="product-card__heart"></div>
          <div class="product-card__img">
            <img class="lozad" data-src="./assets/img/products/20.png" alt="">
          </div>
          <div class="product-card__bottom">
            <a href="#" class="product-card__title">
              Trandafiri Rosii
            </a>
            <div class="product-card__price">
              <div class="product-card__price-old">
                160 mdl
              </div>
              <div class="product-card__price-new">
                134 mdl
              </div>
            </div>
            <div class="product-card__row">
              <button class="btn btn--icon-right">Cumpără</button>
              <div class="product-card__code">
                E-3601
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end products__wrapper -->

      <!-- Pagination -->
      <div class="pagination">
        <ul class="pagination__inner">
          <li class="disabled"><span><i class="fas fa-angle-left"></i></span></li>
          <li class="active"><a href="#">1</a>
          </li>
          <li><a href="#">2</a>
          </li>
          <li><a href="#">3</a>
          </li>
          <li><a href="#">4</a>
          </li>
          <li><a href="#">5</a>
          </li>
          <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
        </ul>
      </div>
      <!-- / Pagination -->

    </div><!-- end products__main -->