$main-font: 'Akrobat Regular',
Helvetica,
Arial,
sans-serif;
$secondary-font: 'Akrobat Regular',
Helvetica,
Arial,
sans-serif;

$main-color: #ffc400;
$secondary-color: #be950d;
$border-color: #e4e4e4;