<footer class="relative">
    <div class="bg-black">
        <div class="wrapper">
            <div class="row ">

                <div class="before-img-footer"><img src="assets/img/grey-cubs-1.svg" alt=""></div>
                <div class="before-img-footer-bottom"><img src="assets/img/grey-cubs.svg" alt=""></div>
                <div class="col-sm-12">
                    <h2>CONTACT</h2>
                </div>
                <div class="info-footer">

                    <p><strong>Primăria Slătioara</strong></p>

                    <div class="contact">
                        <span>Telefon:</span>
                        <a href="tel:0250-866339"> 0250.866339</a>
                    </div>
                    <div class="contact">
                        <span>E-mail:</span>
                        <a href="mailto:primaria_slatioara@yahoo.com">primaria_slatioara@yahoo.com</a>
                    </div>

                </div>
                <div class="info-footer">
                    <p><strong>Coordonatorul proiectului</strong></p>

                    <div class="contact">
                        <span>Telefon:</span>
                        <a href="tel:0758.247.997"> 0758.247.997</a>
                    </div>
                    <div class="contact">
                        <span>E-mail:</span>
                        <a href="mailto:contact@nișteoraseni.ro">contact@nișteoraseni.ro</a>
                    </div>

                </div>
                <div class="info-footer">
                    <p><strong>Patria Bank</strong></p>
                    <div class="contact">
                        <span>Telefon Call-center:</span>
                        <a href="tel:0800410310">0800.410.310</a>
                    </div>
                    <div class="contact">
                        <span>E-mail:</span>
                        <a href="mailto:contact@patriabank.ro">contact@patriabank.ro</a>
                    </div>

                </div>
                <div class="icon-footer">
                    <a href="https://www.facebook.com/nisteoraseni" class="icon" target="_blank"><img src="assets/img/home/facebook-white.png" alt=""> </a>
                </div>

            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">

            <div class="bottom-footer">
                <span>Inițiatori:</span>
                <span>
     <a href="https://www.patriabank.ro" target="_blank"><img src="assets/img/logo-patria.png" alt=""></a>
    </span>
                <span>&</span>
                <span><a href="https://pukka.ro" target="_blank">pukka</a></span>
                <span class="red">:</span>
            </div>
        </div>
    </div>
    <div class="after-image-footer"><img src="assets/img/color-cubs.svg" alt=""></div>
</footer>
