<form class="form-content margin-bottom-100" id="contact-form" method="post" action="./solicita">
    <span class="title">Solicită o vizită în vederea relocării</span>
    <div class="form-bl-lg">
        <label for="name">
            <input id="name" name="name" type="text" placeholder="Nume și prenume" required>
        </label>
    </div>
    <div class="check-bl">
        <span class="title-check">Familia e compusă din</span>
        <span>
            <label for="adults"><input id="adults" name="adults" type="text" value="" required><span>Adulți</span></label>
       </span>
        <span>
         <label for="children"><input id="children" name="children" type="text"><span>Copii</span></label>
       </span>


    </div>
    <div class="form-bl-lg">
        <label for="occupation">
            <input id="occupation" name="occupation" type="text" placeholder="OCUPAȚIA MEMBRILOR FAMILIEI (ADULȚI)" required>
        </label>
    </div>
    <div class="form-bl-lg">
        <label for="phone">
            <input id="phone" name="phone" type="tel" placeholder="NUMĂR DE TELEFON" required>
        </label>
    </div>
    <div class="form-bl-lg">
        <label for="email">
            <input id="email" name="email" type="email" placeholder="ADRESĂ DE E-MAIL" required>
        </label>
    </div>
    <div class="check-bl">
        <label for="terms">
            <input id="terms" name="terms" type="checkbox" required>
            <span>Am citit și sunt de acord cu <a href="https://www.patriabank.ro/informatii-utile/termeni-si-conditii" target="_blank">termenii și condițiile</a></span>
        </label>
    </div>
    <div class="check-bl">
        <label for="marketing">
            <input id="marketing" name="marketing" type="checkbox">
            <span>Doresc să aflu noutăți despre produsele Patria Bank</span>
        </label>
    </div>
    <div class="button">
        <button class="btn-grey" type="submit">Trimite solicitarea</button>
    </div>
</form>
