<section class="nav-menu">
    <div class="nav fixed-menu">
        <div class="wrapper">
            <div class="row">
                <div class="logo-left">
                    <a href="./">
                        <span class="image"> <img src="assets/img/logo2.svg" alt=""></span>
                        <span class="right-logo">
                        inițiativa pentru susținerea <br>
                        migrației din urban în rural
                    </span>
                    </a>
                </div>
                <div class="logo-right">
                    <a href="https://www.patriabank.ro/" target="_blank">
                        <img src="assets/img/logo.svg" alt="" class="hidden-sm">
                        <img src="assets/img/logo3.svg" alt="" class="visible-sm">
                    </a>
                    <button id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="wrapper">
                <div class="row">
                    <div class="left-menu">
                        <ul>
                            <li><a href="/">Acasă</a></li>
                            <li><a href="/#niste-oraseni">DESPRE NIȘTE ORĂȘENI</a></li>
                            <li><a href="/#research-group">GRUPUL DE CERCETARE</a></li>
                            <li><a href="/#financial-resources">RESURSE FINANCIARE</a></li>
                            <li><a href="./imprejurimi.html">SLĂTIOARA ȘI ÎMPREJURIMI</a></li>
                            <li><a href="/#partners">PARTENERI</a></li>
                            <li><a href="./contact.html">CONTACT</a></li>
                        </ul>
                        <div class="social">
                            <a href="https://www.facebook.com/nisteoraseni" class="social-icon">
                                <img src="assets/img/home/facebook.png" alt="">
                            </a>
                        </div>

                    </div>
                    <div class="right-menu">
                        @@include('./_form.html', {
                        "path": "."
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
