<section class="nav">
    <div class="wrapper">
        <div class="row">
            <div class="logo-left">
                <a href="">
                    <span class="image"> <img src="assets/img/logo2.svg" alt=""></span>
                    <span class="right-logo">
                        inițiativa pentru susținerea <br>
                        migrației din urban în rural
                    </span>
                </a>
            </div>
            <div class="logo-right"><a href="https://www.patriabank.ro/">
                <img src="assets/img/logo.svg" alt="" class="hidden-sm">
                <img src="assets/img/logo3.svg" alt="" class="visible-sm">
            </a>
            </div>
        </div>
    </div>
</section>
