<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMG6ZBF"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Swipe JS -->
<script src="@@path/vendor/jquery/dist/jquery.min.js"></script>
<script src="@@path/assets/js/script.js"></script>
<script>
  $(document).ready(function() {
    $('body').on('submit', '#contact-form', function(e) {
      if($(this).data('disabled') === true) {
        return false;
      }

      e.preventDefault();
      $('input').removeClass('error');

      $(this).data('disabled', true);
      $.ajax({
        type: "POST",
        url: './solicita',
        data: $(this).serialize(),
      })
        .done(function() {
          $(this).data('disabled', false);
          alert('Mulțumim! Te vom contacta în cel mai scurt timp posibil.');
          $('#contact-form input').val('');
          location.href = '/';
        })
        .fail(function(response) {
          $(this).data('disabled', false);
          var messages = [];
          Object.keys(response.responseJSON.errors).forEach(function(field) {
            console.log(field);
            $('input#' + field).addClass('error');
            messages.push(...response.responseJSON.errors[field]);
          });

          alert('Te rugăm să corectezi următoarele câmpuri:\n\n'+messages.join('\n'));
        });
      return false;
    })
  })
</script>