// -------------------------------------------- Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$main-font: 'Roboto',
sans-serif;
// $font-family: Helvetica,
// Arial,
// sans-serif;
// $mainFont-extraLight: 'ExtraLight',
// $font-family;
// $mainFont-light: 'Akrobat Light',
// $font-family;
// $mainFont-regular: 'Akrobat Regular',
// $font-family;
// $mainFont-semiBold: 'Akrobat SemiBold',
// $font-family;
// $mainFont-bold: 'Akrobat Bold',
// $font-family;
// $mainFont-extraBold: 'Akrobat ExtraBold Regular',
// $font-family;
// $mainFont-black: 'Akrobat Black',
// $font-family;

// --------------------------------------------- Colors
$main-color: #ffc400;
$secondary-color: #0d86be;
$border-color: #e4e4e4;