@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
     font-size: 16px;

     @media only screen and (max-width: 768px) {
          font-size: 15px;
     }

     @media only screen and (max-width: 576px) {
          font-size: 14px;
     }
}

body {
     font-family: 'Open Sans', sans-serif;
     @include font-size(16px);
     font-weight: 400;
     line-height: 1.3;
     color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: 'Open Sans', sans-serif;
     text-transform: uppercase;
}


h1 {
     @include font-size(62px);
}

h2 {
     @include font-size(43px);
}

h3 {
     @include font-size(35px);
}

h4 {
     @include font-size(28px);
}

button {
     font-family: 'Open Sans', sans-serif;
}

input,
textarea {
     font-family: 'Open Sans', sans-serif;
}

.container {
     width: 100%;
     max-width: 1170px;
     margin: 0 auto;
     padding: 0 30px;
     //border: 1px solid blue;

     @media only screen and (max-width: 425px) {
          padding: 0 15px;
     }
}

.main-wrapper {
     overflow: hidden;
}