.footer {
  color: palette(black, text);
  background-color: palette(grey, bg);
  display: block;

  .footer__inner {
    position: relative;
    min-height: 14.68rem;
    padding-top: 2.87rem;
    @include row-flex;
    white-space: nowrap;

    .footer__block {
      margin-bottom: 2.3rem;
      @include col;
      @include col-3;

      @include mq(768px) {
        @include col-6;
      }
      @include mq(375px) {
        @include col-12;
      }

      h2 {
        @include font-size(13px);
        color: palette(grey, text);
        font-family: $mainFont-regular;
        border-bottom: 1px solid palette(grey, border);
        margin-right: 2.12rem;
        line-height: 2.2;
      }

      ul {
        position: relative;
        margin-top: 0.5rem;

        li {
          @include font-size(13px);
          color: palette(grey, text);
          line-height: 1.85;

          @include mq(1107px) {
            white-space: initial;
          }

          a {
            @include font-size(13px);
            color: palette(grey, text);
            transition: all 0.2s ease;
            border-bottom: 1px solid transparent;

            &:hover {
              border-bottom: 1px solid palette(grey, base);
            }
          }
        }

        li.footer__contacts {
          position: relative;
          padding-left: 1.5rem;
          margin: 1rem 0;

          &:before {
            @include fontAwesome;
            font-size: 12px;
            @include align-center(vertical);
            color: palette(main, base);
            left: 0px;
          }
        }

        .footer__contacts--phone {
          &:before {
            content: "\f879";
          }
        }
        .footer__contacts--email {
          &:before {
            content: "\f2b6";
          }
        }
        .footer__contacts--address {
          line-height: 1.4;

          &:before {
            content: "\f3c5";
            top: 10px !important;
          }
        }
      }

      .footer__icons {
        display: flex;
        margin-top: 10px;

        .footer__icon {
          position: relative;
          height: 34px;
          min-width: 40px;
          margin-right: 1rem;
          overflow: hidden;

          @include mq(903px) {
            margin-right: 3px;
          }

          svg {
            max-height: 34px;
            @include align-center(both);
          }
        }

        .footer__icon--ssl {
          min-width: 77px;

          img {
            height: 24px;
            margin-top: 4px;
          }
        }
        .footer__icon--visa {
          min-width: 45px;

          svg {
            max-height: 40px;
          }
        }
        .footer__icon--mastercard {
          svg {
          }
        }
      }
    }
  }

  .copyright {
    min-height: 2.87rem;
    background-color: palette(grey, bg-darken);
    padding-top: 0.7rem;

    @media only screen and (max-width: 469px) {
      min-height: 5.5rem;
      padding-top: 1rem;
    }

    .copyright__left {
      float: left;
      display: block;
      //text
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.85;
      letter-spacing: normal;
      text-align: left;
      color: palette(grey, text);

      @media only screen and (max-width: 469px) {
        text-align: center;
        width: 100%;
      }
    }

    .copyright__right {
      float: right;
      display: block;
      position: relative;
      top: 1px;

      @media only screen and (max-width: 469px) {
        text-align: center;
        width: 100%;
      }

      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.82;
      letter-spacing: 0.55px;
      text-align: left;
      color: palette(grey, text);

      a {
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.82;
        letter-spacing: 0.55px;
        text-align: left;
        color: palette(grey, text);
      }

      div {
        display: inline-block;
      }

      .heart {
        display: inline-block;
        position: relative;
        top: 2px;
        color: palette(main, base);
        font-size: 17px;
        margin: 0 4px;
        animation: beat 1.5s infinite;

        @media only screen and (max-width: 425px) {
          font-size: 16px;
        }
      }

      @keyframes beat {
        50% {
          transform: scale(1.1);
        }
      }
    }
  }
}
