.footer {
  color: palette(black, text);
  background-color: palette(grey, bg);
  display: block;

  .footer__inner {
    position: relative;
    min-height: 14.68rem;
    padding-top: 2.87rem;
    @include row-flex;
    white-space: nowrap;
  }

  .copyright {
    min-height: 4.8rem;
    background-color: palette(grey, bg-darken);
    @include flex;

    @media only screen and (max-width: 469px) {
      min-height: 5.5rem;
      padding-top: 1rem;
    }

    .copyright__left {
      float: left;
      display: block;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.85;
      letter-spacing: normal;
      text-align: left;
      color: palette(grey, text);

      @media only screen and (max-width: 469px) {
        text-align: center;
        width: 100%;
      }
    }

    .copyright__right {
      float: right;
      display: block;
      position: relative;
      top: 1px;

      @media only screen and (max-width: 469px) {
        text-align: center;
        width: 100%;
      }

      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.82;
      letter-spacing: 0.55px;
      text-align: left;
      color: palette(grey, text);

      a {
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.82;
        letter-spacing: 0.55px;
        text-align: left;
        color: palette(grey, text);
      }

      div {
        display: inline-block;
      }

      .heart {
        display: inline-block;
        position: relative;
        top: 2px;
        color: palette(red, base);
        font-size: 17px;
        margin: 0 4px;
        animation: beat 1.5s infinite;

        @media only screen and (max-width: 425px) {
          font-size: 16px;
        }
      }

      @keyframes beat {
        50% {
          transform: scale(1.1);
        }
      }
    }
  }
}