.mmenu {
  position: fixed;
  display: block;
  width: 45%;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 3.7rem;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, .1);
  background-color: white;
  top: 0px;
  left: -100%;
  overflow: auto;
  overflow-x: hidden;
  transition: all 0.5s;
  z-index: 9999;

  @media only screen and (max-width: 666px) {
    width: 60%;
  }

  @media only screen and (max-width: 534px) {
    width: 70%;
  }

  @media only screen and (max-width: 442px) {
    width: 75%;
  }

  @media only screen and (max-width: 375px) {
    width: 80%;
  }

  @media only screen and (max-width: 374px) {
    width: 85%;
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 41px;
    background-color: palette(main, base);
    position: absolute;
    left: 0;
    top: 0;
  }

  .mmenu__title {
    position: absolute;
    top: 12px;
    left: 24px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: $mainFont;
    z-index: 2;
    text-transform: uppercase;
  }

  .mmenu__close {
    width: 14px;
    height: 16px;
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 2;

    svg {
      cursor: pointer;
      width: 10px;
      height: 10px;
      fill: white;
      font-size: 24px;
    }
  }
}

.mmenu.active {
  left: 0px;
  top: 0px;
}

.mmenu__inner {
  min-width: 260px;
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 100%;
  margin-right: 0;
  position: relative;

  // =====================================================
  ul.mmenu__links {
    display: list-item;
    list-style: none;
    padding: 10px 25px 22px 25px;

    &>li {
      padding: 11px 0;
      margin: 0;

      @media only screen and (max-width: 320px) {
        padding: 9px 0px;
      }

      a,
      span {
        font-size: 14px;
        font-weight: 600;
        font-family: $mainFont;
        color: palette(black, text);
        cursor: pointer;
        position: relative;

        &:hover {
          color: palette(main, base);
        }
      }
    }
  }

  // =====================================================
  .mmenu__categories {
    border: none;
    padding: 22px 20px 0 20px;
    display: block;
    background-color: white;

    .mmenu__title {

      .mmenu__breadcrumbs {
        color: palette(grey, text-light);
        display: inline-block;
        font-size: 18px;
        font-family: $mainFont;
        font-weight: 400;
        cursor: pointer;
        position: relative;

        &:hover {
          color: palette(main, base);

          &:after {
            color: palette(main, base);
          }
        }
      }

      .mmenu__brake {
        font-size: 18px;
        font-family: $mainFont;
        font-weight: 400;
        color: palette(grey, border);
      }
    }

    ul {

      li {
        position: relative;

        a,
        span {
          font-family: $mainFont;
          font-weight: 400;
          position: relative;
          font-size: 14px;
          display: inline-block;
          padding: 9px 0;
          color: palette(black, text);
          width: 100%;
        }

        a.active,
        span.active {
          position: relative;
          font-family: $mainFont;
          font-weight: bold;
          color: palette(main, dark);
          font-size: 14px;
          cursor: default;

          &:hover {
            text-decoration: none;
          }

          &:before {
            content: "";
            display: block;
            background-color: palette(main, dark);
            width: 3px;
            height: 14px;
            @include align-center(vertical);
            left: -10px;
          }
        }
      }

      li:hover {
        color: palette(main, dark);

        a,
        span {
          color: palette(main, dark);
        }

        .mmenu__dropdown {

          a,
          span {
            color: palette(black, text);
          }
        }
      }

      li.mmenu__subcategories {
        position: initial;

        span {
          cursor: pointer;

          &:after {
            content: "\f105";
            @include fontAwesome;
            font-weight: 600;
            font-size: 10px;
            @include align-center(vertical);
            color: palette(black, text);
            right: 3px;
          }
        }

        a.active,
        span.active {
          cursor: pointer;
        }

        .mmenu__dropdown {
          position: absolute;
          padding: 22px 25px;
          background-color: rgba(255, 255, 255, 1);
          right: 0;
          top: 12px;
          width: 100%;
          height: 100vh;
          border-bottom: 0px;
          box-shadow: none;
          left: -100%;
          transition: left 0.3s;
          z-index: 10;

          span {
            font-size: 16px;
            font-family: $mainFont;
            font-weight: 600;
            cursor: default;

            &::after {
              display: none;
            }
          }

          ul {
            padding: 0;
            margin-top: 1.5rem;
            padding-left: 1rem;

            li {

              &:after,
              &:before {
                display: none;
              }

              a,
              span {
                &:hover {
                  color: palette(main, dark);
                }

                &:after,
                &:before {
                  display: none;
                }
              }

              a.active,
              span.active {
                font-family: $mainFont;
                font-weight: bold;
                color: palette(main, dark);
                font-size: 13px;
                cursor: default;

                &:hover {
                  text-decoration: none;
                }

                &:before {
                  content: "";
                  display: block;
                  background-color: palette(main, dark);
                  width: 3px;
                  height: 14px;
                  @include align-center(vertical);
                  left: -10px;
                }
              }
            }
          }

          .mmenu__go-back {
            position: relative;
            font-size: 13px;
            font-family: $mainFont;
            font-weight: 400;
            color: palette(grey, text-light);
            cursor: pointer;
            padding-left: 14px;
            width: 55px;

            &:after {
              content: "\f104";
              @include fontAwesome;
              font-weight: 600;
              font-size: 16px;
              @include align-center(vertical);
              color: inherit;
              left: 0px;
              margin-top: -1px;

              @include mq(576px) {
                margin-top: 0px;
              }
            }

            &:hover {
              color: palette(main, base);

              &:after {
                color: palette(main, base);
              }
            }
          }
        }

        .mmenu__dropdown.active {
          left: 0;
        }
      }
    }
  }

  .mmenu__categories.active {
    left: 0;
  }

  // =====================================================
  ul.mmenu__links--account {
    border-bottom: none;
    margin-top: 0;
    padding-top: 0;
    font-size: 15px;

    li:first-child {
      border-top: 1px solid palette(grey, border);
      padding-top: 36px;
    }

    .mmenu__link {
      position: relative;
      padding-left: 25px;

      &:before {
        @include fontAwesome;
        font-size: 12px;
        @include align-center(vertical);
        color: palette(black, text);
        left: 0px;
        transition: all 0.2s ease;
      }
    }

    .mmenu__link--login {
      &:before {
        content: "\f2bd";
        font-weight: 500;
        font-size: 15px;
        transform: initial;
        top: 36px;

        @include mq(576px) {
          top: 36px;
        }
      }
    }
  }

  // =====================================================
  .mmenu__languages {
    position: relative;
    padding: 0 40px 0 0px;
    cursor: default;
    color: palette(black, text);
    margin-left: 49px;
    margin-top: -10px;
    width: 45px;
    font-size: 14px;
    font-weight: 600;

    &:before {
      @include fontAwesome;
      font-size: 12px;
      @include align-center(vertical);
      color: palette(black, text);
      left: -24px;
      transition: all 0.2s ease;
      content: "\f1ab";
    }

    &:after {
      @include fontAwesome;
      font-size: 12px;
      @include align-center(vertical);
      color: palette(black, text);
      transition: all 0.2s ease;
      content: "\f107";
      right: 7px;
    }

    .mmenu__options {
      position: absolute;
      left: 0;
      top: 18px;
      display: none;
      width: 100%;
      height: 60px;
      padding-top: 4px;
      text-align: center;
      box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.2);
      font-size: 14px;
      font-weight: 600;

      ul {
        display: block;
        padding: 0;

        li {
          position: relative;
          margin-left: -3px;
          margin-top: 4px;

          &:hover a:before {
            border-color: palette(black, text);
            width: 100%;
          }

          a {
            text-transform: uppercase;
            padding-right: 0;
            color: palette(black, text-light);
            padding: 0px;

            &:hover {
              color: palette(main, dark);
            }
          }
        }
      }
    }
  }

  .mmenu__languages:hover {
    &:after {
      opacity: 0;
    }

    .mmenu__options {
      display: block;
    }
  }

  .mmenu__social {
    position: relative;
    bottom: 0;
    left: 20px;
    margin-top: 14rem;

    a {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: palette(main, light);
      text-align: center;
      margin: 0 2px;
      transition: all .2s ease;
      @include flex;
      display: inline-flex;

      i {
        font-size: 13px;
        color: white;
      }

      &:hover {
        background-color: palette(main, base);
      }
    }
  }
}