.btn {
  position: relative;
  display: block;
  background-color: palette(main, base);
  border-radius: 30px;
  transition: all 0.2s ease;
  padding: 0 2rem;
  max-width: 15rem;
  // text
  @include flex;
  font-size: 1.4rem;
  font-family: $mainFont;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: white;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: palette(main, dark);
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}


// font-weight: 600;
// content: "\f30b";
.btn--icon-right {
  padding-right: 3rem;

  &::after {
    @include fontAwesome;
    font-size: 14px;
    color: #fff;
    @include align-center(vertical);
    right: 1.4rem;
  }
}


.btn--transparent {
  height: 46px;
  background-color: transparent;
  color: #343434;
  text-transform: initial;
  font-family: $mainFont;
  font-weight: normal;
  font-size: 1.7rem;
  border-radius: 23px;
  border: solid 1px palette(grey, border);
  padding: 0 24px;

  &:hover {
    color: palette(black, base);
    text-decoration: none;
    background-color: transparent;
    box-shadow: 0 0 10px #e4e4e4;
  }

  &:focus,
  &:active {
    outline: none;
    border: solid 1px palette(grey, border);
    box-shadow: none;
  }
}

.btn--no-radius {
  border-radius: initial;
}


.btn--load-more {
  width: 112px;
  height: 33px;
  padding: 0;
  line-height: 1;
  position: relative;
  display: block;
  margin: 0 auto;
  text-transform: initial;
  font-size: 1.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 18px;

  &::after {
    content: "";
    @include fontAwesome;
    font-weight: 600;
    content: "\f063";
    font-size: 11px;
    color: #fff;
    @include align-center(vertical);
    margin-top: -2px;
    right: 16px;
  }
}