.form-group {
  display: block;
  position: relative;
  width: 100%;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: absolute;
  cursor: pointer;
  left: 3px;
}

.form-group label:before,
.form-group input {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid palette(grey, dark);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: .8rem;
  width: 17px;
  height: 17px;
  border-radius: 3px;
  margin-top: -3px;

  @include mq(768px) {
    margin-top: -2px;
  }

  @include mq(768px) {
    margin-top: -2px;
  }

  @include mq(560px) {
    margin-top: -1px;
  }
}

.form-group input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-group input:checked+label:before {
  background-color: palette(main, base);
  border-color: palette(main, base);
}

// ================================================ without visible label

/* The custom-checkbox */
.custom-checkbox {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .check-title {
    padding-left: 47px;
    line-height: 29px;
  }

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    /* When the checkbox is checked */
    /* When the checkbox is checked */
    &:checked~.checkmark {
      background-color: palette(main, base);
      border-color: palette(main, base);
    }
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 29px;
    height: 29px;
    background-color: white;
    border: 2px solid palette(grey, base);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 3px;
      width: 8px;
      height: 14px;
      border: solid palette(black, base);
      border-width: 0 2px 2px 0;
      //-webkit-transform: rotate(45deg);
      //-ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  input:checked~.checkmark:after {
    display: block;
  }
}