 <!-- Hero -->
 <section class="hero">
   <div class="container test">
     <!-- Swiper -->
     <div class="swiper-container">
       <div class="swiper-wrapper">
         <div class="swiper-slide">
           <img src="./assets/img/bg/1.jpg" alt="slide 1">
         </div>
         <div class="swiper-slide">
           <img src="./assets/img/bg/2.jpg" alt="slide 1">
         </div>
         <div class="swiper-slide">
           <img src="./assets/img/bg/3.jpg" alt="slide 1">
         </div>
       </div>
       <!-- Add Pagination -->
       <div class="swiper-pagination"></div>
       <!-- Add Arrows -->
       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
     </div>
     <div class="hero__inner">
       <div class="block"></div>
       <div class="block"></div>
       <div class="block"></div>
       <div class="block"></div>
     </div>
     <div class="hero__inner-2">
       <div class="block-2"></div>
       <div class="block-2"></div>
     </div>
     <p class="h2">Cumpara impreuna</p>
     <p class="h3">Cumpara impreuna</p>
     <p class="h4">Cumpara impreuna</p>
     <span>39000</span>
     <label class="custom-checkbox">
       <input type="checkbox" checked="checked">
       <span class="checkmark"></span><span class="check-title">Amintiți-vă de mine</span>
     </label>
     <fieldset class="checkbox">
       <input type="checkbox" id="test" name="test" value="test">
       <label for="test"> test </label>
     </fieldset>
     <div class="radio-btns column" aria-label="Lungime:">
      <label class="radio">
        <div class="radio__label">50/60 CM</div>
        <input type="radio" checked="checked"  name="type-1">
        <span class="checkmark"></span>
      </label>
      <label class="radio">
        <div class="radio__label">60/80 CM</div>
        <input type="radio" name="type-1">
        <span class="checkmark"></span>
      </label>
      <label class="radio">
        <div class="radio__label">100 CM</div>
        <input type="radio" name="type-1">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="search-bar">
      <div class="input search">
        <input name="filter-search-bar" id="filter-search-bar" type="search" placeholder="Cautare" value="">
      </div>
      <button type="submit">
        <svg>
          <use xlink:href='assets/img/sprite.svg#search'></use>
        </svg>
      </button>
    </div>
   </div>
 </section><!-- / Hero -->