 <!-- Hero -->
 <section class="hero">
   <div class="container test">
     <!-- Swiper -->
     <div class="swiper-container">
       <div class="swiper-wrapper">
         <div class="swiper-slide">
           <img src="./assets/img/bg/1.jpg" alt="slide 1">
         </div>
         <div class="swiper-slide">
           <img src="./assets/img/bg/2.jpg" alt="slide 1">
         </div>
         <div class="swiper-slide">
           <img src="./assets/img/bg/3.jpg" alt="slide 1">
         </div>
       </div>
       <!-- Add Pagination -->
       <div class="swiper-pagination"></div>
       <!-- Add Arrows -->
       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
     </div>
     <div class="hero__inner">
       <div class="block"></div>
       <div class="block"></div>
       <div class="block"></div>
       <div class="block"></div>
     </div>
     <div class="hero__inner-2">
       <div class="block-2"></div>
       <div class="block-2"></div>
     </div>
     <p class="h2">Cumpara impreuna</p>
     <p class="h3">Cumpara impreuna</p>
     <p class="h4">Cumpara impreuna</p>
     <span>39000</span>
     <label class="custom-checkbox">
       <input type="checkbox" checked="checked">
       <span class="checkmark"></span><span class="check-title">Amintiți-vă de mine</span>
     </label>
     <fieldset class="form-group">
       <input type="checkbox" id="test" name="test" value="test">
       <label for="test"> test </label>
     </fieldset>
   </div>
 </section><!-- / Hero -->