 <!-- Hero -->
 <section class="hero">
   <div class="container test">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./assets/img/sliders/hero/big-banner@3x.jpg" height="468" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/sliders/hero/big-banner@3x.jpg" height="468" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/sliders/hero/big-banner@3x.jpg" height="468" alt="">
        </div>
      </div>
    </div>
   </div>
</section><!-- / Hero -->