//@import 'var';

.width-100 {
  width: calc(100% - 14px);
  margin-left: 7px;
  margin-right: 7px;
  @include max($xs) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .col-sm-4 {
    width: calc(25% - 16px);
    margin-left: 8px;
    margin-right: 8px;
    @include minmax(851px,$lg-tablet) {
      width: calc(33.33% - 16px);
    }
    @include minmax(577px,850px) {
      width: calc(50% - 16px);
    }
    @include max($xs) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.block-info {
  margin-bottom: 55px;
  h3 {
    margin-bottom: 20px;
  }
  a {
    font-size: 19px;
    display: inline-block;
    text-decoration: underline;
    color: $black;
    font-family: "DIN Next LT Pro Bold";
    margin-top: 40px;
    margin-bottom: 45px;
    @include transition();
    @include minmax($sm-small,1440px) {
      font-size: 16px;
      line-height: 24px;
    }
    &:hover, &:focus {
      color: $blue1;
    }
    @include max($sm) {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}
.partners-block {
  width: calc(100% - 74px);
  margin-left: 37px;
  margin-right: 37px;
  margin-bottom: 40px;
  @include max($xs) {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

}
.logo-content {
  width: calc(100% / 3 - 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include max(1500px) {
    width: calc(100% / 2 - 10px);
    min-width: auto;
  }
  @include max(1200px) {
    width: calc(100% - 10px);
  }
  .logo {
    width: 100%;
    height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F7F7F7;
    background-blend-mode: multiply;
    display: block;
  }
  .image {
    display: flex;
    font-size: 27px;
    line-height: 32px;
    color: black;
    width: 100%;
    @include minmax($sm-small,1440px) {
      font-size: 24px;
      line-height: 28.8px;
    }
    font-family: "DIN Next LT Pro Medium Cond";
    @include max($xs) {
      font-size: 16px;
      line-height: 19px;
    }
    span {
      margin-left: 5px;
    }
  }
  .image-with-title {
    img {
      max-width: 30%;
    }
    .logo {
      width: 30%;
    }
  }
}

.content-desc {
  p {
    margin-top: 38px;
    margin-bottom: 38px;
  }
}
.margin-left-auto {
  margin-left: auto;
}
.fixed-block {
  position: fixed;
  top: 130px;
  margin-bottom: 50px;
  right: 50vw;
  width: 50vw;
  max-width: 835px;
  @include max($sm) {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
  }

}

.position-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 120px;
  @include max($sm) {
    position: relative;
    top: 0;
  }
}