//@import 'var';
@font-face {
  font-family: "DINNextLTPro-Regular";
  src: url("../assets/webfonts/DINNextLTProRegular/93a467f70a3e7b27a9b52a686f351dbe.eot");
  src: url("../assets/webfonts/DINNextLTProRegular/93a467f70a3e7b27a9b52a686f351dbe.eot?#iefix") format("embedded-opentype"),
  url("../assets/webfonts/DINNextLTProRegular/93a467f70a3e7b27a9b52a686f351dbe.woff2") format("woff2"),
  url("../assets/webfonts/DINNextLTProRegular/93a467f70a3e7b27a9b52a686f351dbe.woff") format("woff"),
  url("../assets/webfonts/DINNextLTProRegular/93a467f70a3e7b27a9b52a686f351dbe.ttf") format("truetype"),
  url("../assets/webfonts/DINNextLTProRegular/93a467f70a3e7b27a9b52a686f351dbe.svg#DINNextLTPro-Regular") format("svg");
}

@font-face {
  font-family: "DIN Next LT Pro Bold";
  src: url("../assets/webfonts/DINNextLTProRegular/3a88649e176a40a6d80b395ca0ae430d.eot");
  src: url("../assets/webfonts/DINNextLTProRegular/3a88649e176a40a6d80b395ca0ae430d.eot?#iefix") format("embedded-opentype"),
  url("../assets/webfonts/DINNextLTProRegular/3a88649e176a40a6d80b395ca0ae430d.woff2") format("woff2"),
  url("../assets/webfonts/DINNextLTProRegular/3a88649e176a40a6d80b395ca0ae430d.woff") format("woff"),
  url("../assets/webfonts/DINNextLTProRegular/3a88649e176a40a6d80b395ca0ae430d.ttf") format("truetype"),
  url("../assets/webfonts/DINNextLTProRegular/3a88649e176a40a6d80b395ca0ae430d.svg#DIN Next LT Pro Bold") format("svg");
}

@font-face {
  font-family: "DIN Next LT Pro Light";
  src: url("../assets/webfonts/DINNextLTProRegular/5962be5676817b7ffbf74cc45bf4a83b-light.eot");
  src: url("../assets/webfonts/DINNextLTProRegular/5962be5676817b7ffbf74cc45bf4a83b-light.eot?#iefix") format("embedded-opentype"),
  url("../assets/webfonts/DINNextLTProRegular/5962be5676817b7ffbf74cc45bf4a83b-light.woff2") format("woff2"),
  url("../assets/webfonts/DINNextLTProRegular/5962be5676817b7ffbf74cc45bf4a83b-light.woff") format("woff"),
  url("../assets/webfonts/DINNextLTProRegular/5962be5676817b7ffbf74cc45bf4a83b-light.ttf") format("truetype"),
  url("../assets/webfonts/DINNextLTProRegular/5962be5676817b7ffbf74cc45bf4a83b-light.svg#DIN Next LT Pro Light") format("svg");
}

@font-face {
  font-family: "DIN Next LT Pro Black";
  src: url("../assets/webfonts/DINNextLTProRegular/0bd420e921edf794e8755fe13d3dda89-black.eot");
  src: url("../assets/webfonts/DINNextLTProRegular/0bd420e921edf794e8755fe13d3dda89-black.eot?#iefix") format("embedded-opentype"),
  url("../assets/webfonts/DINNextLTProRegular/0bd420e921edf794e8755fe13d3dda89-black.woff2") format("woff2"),
  url("../assets/webfonts/DINNextLTProRegular/0bd420e921edf794e8755fe13d3dda89-black.woff") format("woff"),
  url("../assets/webfonts/DINNextLTProRegular/0bd420e921edf794e8755fe13d3dda89-black.ttf") format("truetype"),
  url("../assets/webfonts/DINNextLTProRegular/0bd420e921edf794e8755fe13d3dda89-black.svg#DIN Next LT Pro Black") format("svg");
}

@font-face {
  font-family: "DIN Next LT Pro Heavy";
  src: url("../assets/webfonts/DINNextLTProRegular/1f83f5c8497875fdc52c54ee78331a55-Heavy.eot");
  src: url("../assets/webfonts/DINNextLTProRegular/1f83f5c8497875fdc52c54ee78331a55-Heavy.eot?#iefix") format("embedded-opentype"),
  url("../assets/webfonts/DINNextLTProRegular/1f83f5c8497875fdc52c54ee78331a55-Heavy.woff2") format("woff2"),
  url("../assets/webfonts/DINNextLTProRegular/1f83f5c8497875fdc52c54ee78331a55-Heavy.woff") format("woff"),
  url("../assets/webfonts/DINNextLTProRegular/1f83f5c8497875fdc52c54ee78331a55-Heavy.ttf") format("truetype"),
  url("../assets/webfonts/DINNextLTProRegular/1f83f5c8497875fdc52c54ee78331a55-Heavy.svg#DIN Next LT Pro Heavy") format("svg");
}

@font-face {
  font-family: "DIN Next LT Pro Condensed";
  src: url("../assets/webfonts/DINNextLTProRegular/13ba9c94a7f164d315c9044db6d513ef-Condensed.eot");
  src: url("../assets/webfonts/DINNextLTProRegular/13ba9c94a7f164d315c9044db6d513ef-Condensed.eot?#iefix") format("embedded-opentype"),
  url("../assets/webfonts/DINNextLTProRegular/13ba9c94a7f164d315c9044db6d513ef-Condensed.woff2") format("woff2"),
  url("../assets/webfonts/DINNextLTProRegular/13ba9c94a7f164d315c9044db6d513ef-Condensed.woff") format("woff"),
  url("../assets/webfonts/DINNextLTProRegular/13ba9c94a7f164d315c9044db6d513ef-Condensed.ttf") format("truetype"),
  url("../assets/webfonts/DINNextLTProRegular/13ba9c94a7f164d315c9044db6d513ef-Condensed.svg#DIN Next LT Pro Condensed") format("svg");
}

@font-face {
  font-family: "DIN Next LT Pro Bold Italic";
  src: url("../assets/webfonts/DINNextLTProRegular/31449d2d36b66153087ff1fde9830ae9-BoldItalic.eot");
  src: url("../assets/webfonts/DINNextLTProRegular/31449d2d36b66153087ff1fde9830ae9-BoldItalic.eot?#iefix") format("embedded-opentype"),
  url("../assets/webfonts/DINNextLTProRegular/31449d2d36b66153087ff1fde9830ae9-BoldItalic.woff2") format("woff2"),
  url("../assets/webfonts/DINNextLTProRegular/31449d2d36b66153087ff1fde9830ae9-BoldItalic.woff") format("woff"),
  url("../assets/webfonts/DINNextLTProRegular/31449d2d36b66153087ff1fde9830ae9-BoldItalic.ttf") format("truetype"),
  url("../assets/webfonts/DINNextLTProRegular/31449d2d36b66153087ff1fde9830ae9-BoldItalic.svg#DIN Next LT Pro Bold Italic") format("svg");
}

@font-face {
  font-family: "DIN Next LT Pro Medium Cond";
  src: url("../assets/webfonts/DINNextLTProRegular/7f05d48f4a28cc6bd2f81faa3c7551f1-MediumCond.eot");
  src: url("../assets/webfonts/DINNextLTProRegular/7f05d48f4a28cc6bd2f81faa3c7551f1-MediumCond.eot?#iefix") format("embedded-opentype"),
  url("../assets/webfonts/DINNextLTProRegular/7f05d48f4a28cc6bd2f81faa3c7551f1-MediumCond.woff2") format("woff2"),
  url("../assets/webfonts/DINNextLTProRegular/7f05d48f4a28cc6bd2f81faa3c7551f1-MediumCond.woff") format("woff"),
  url("../assets/webfonts/DINNextLTProRegular/7f05d48f4a28cc6bd2f81faa3c7551f1-MediumCond.ttf") format("truetype"),
  url("../assets/webfonts/DINNextLTProRegular/7f05d48f4a28cc6bd2f81faa3c7551f1-MediumCond.svg#DIN Next LT Pro Medium Cond") format("svg");
}

@font-face {font-family: "DIN Next LT Pro Medium Italic";
  src: url("../assets/webfonts/DINNextLTProRegular/6dc1c715eadbeaac429b97fa75f12ef7-MediumItalic.eot");
  src: url("../assets/webfonts/DINNextLTProRegular/6dc1c715eadbeaac429b97fa75f12ef7-MediumItalic.eot?#iefix") format("embedded-opentype"),
  url("../assets/webfonts/DINNextLTProRegular/6dc1c715eadbeaac429b97fa75f12ef7-MediumItalic.woff2") format("woff2"),
  url("../assets/webfonts/DINNextLTProRegular/6dc1c715eadbeaac429b97fa75f12ef7-MediumItalic.woff") format("woff"),
  url("../assets/webfonts/DINNextLTProRegular/6dc1c715eadbeaac429b97fa75f12ef7-MediumItalic.ttf") format("truetype"),
  url("../assets/webfonts/DINNextLTProRegular/6dc1c715eadbeaac429b97fa75f12ef7-MediumItalic.svg#DIN Next LT Pro Medium Italic") format("svg");
}
