//@import 'var';

.bg-black {
  background-color: $black;
  h1,h2,h3,h4,h5 {
    color: $white;
  }
  color: $white;
  a {
    color: $white;
  }
}
footer {
  position: relative;
  background-color: $white;
  .bg-black {
    padding-top: 100px;
    @include max($sm) {
      padding-bottom: 40px;
    }

  }
  .before-img {
    width: 200px;
    height: 250px;
    left: 20%;
    position: absolute;
    @include max($sm) {
      display: none;
    }
  }
  h2 {
    margin-bottom: 40px;
  }

  .col-sm-12 {
    @include col();
    @include size(12);
    @include max($xs) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }
  .col-sm-12 , .info-footer,.icon-footer {
    z-index: 1;
  }
  .icon {
    width: 63px;
    height: 63px;
    @include transition();
    img {
      width: 63px;
      height: 63px;
      @include transition();
    }
    &:hover {
      img {
        opacity: 0.7;
      }

    }
  }
}

.after-image-footer {
  position: absolute;
  width: 50vw;
  height: 587px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  outline: hidden;
  @include max($sm) {
    width: 100vw;
  }
  img {
    margin: auto 0 0 auto;
    max-height: 587px;
  }
}

.before-img-footer-bottom {
  position: absolute;
  width: 111px;
  height: 324px;
  left: 0;
  bottom: 50px;
  @include max($md) {
    width: 60px;
    height: 224px;
  }

}

.before-img-footer {
  position: absolute;
  width: 186px;
  height: 302px;
  left: 20%;
  top: -50px;
  @include max($md) {
    width: 100px;
    height: 202px;
  }
}


.bottom-footer {
  img {
    max-width: 190px;
  }
}

.info-footer {
  width: calc(30% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  @include minmax(851px,$md) {
    @include size(4);
  }
  @include minmax($sm-small,850px) {
    @include size(6);
  }
  @include max($sm) {
    @include size(12);
  }
  @include max($xs) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  p {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 48px;
    @include minmax($sm-small,1440px) {
      font-size: 16px;
      line-height: 24px;
    }
    @include max($sm) {
      margin-bottom: 10px;
    }
  }
  .contact {
    margin-bottom: 43px;
    font-size: 19px;
    line-height: 27px;
    font-family: "DIN Next LT Pro Light";
    @include minmax($sm-small,1440px) {
      font-size: 16px;
      line-height: 24px;
    }
    @include max($sm) {
      margin-bottom: 10px;
    }
    span {
      display: block;
    }
    a {
      @include transition();
      &:hover, &:focus {
        text-decoration: underline;
      }
    }

  }
}

.icon-footer {
  width: calc(10% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  @include max($md) {
    @include size(6);
  }
  @include max($xs) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.bottom-footer {
  @include col();
  @include size(12);
  @include max($xs) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  @include max(510px) {
    justify-content: center;
  }
  span {
    margin-right: 20px;
    font-family: "DIN Next LT Pro Bold";
    font-size: 19px;
    line-height: 27px;
    color: $black2;
    display: inline-block;
    @include minmax($sm-small,1440px) {
      font-size: 16px;
      line-height: 24px;
    }
    &.red {
      color: #FF0049;
    }
    img {
      margin: 7px 0 0 0;
    }
  }

}