//@import 'var';

.margin-top-28 {
  margin-top: 28rem;
  @include max($lg-tablet) {
    margin-top: 40px;

  }
}

.z-index-up-menu {
  z-index: 3;
  position: relative;
}

strong {
  font-family: "DIN Next LT Pro Bold";
}