//@import 'var';

h1, h2, h3, h4, h5, h6 {
  font-family: "DIN Next LT Pro Condensed";
  color: $black;
}

h1 {
  font-size: 57px;
  line-height: 64px;
  @include max(1440px) {
    font-size: 49.6px;
    line-height: 56px;
  }
  @include max($md) {
    font-size: 48px;
    line-height: 56px;
  }
}

h2 {
  font-size: 48px;
  line-height: 56px;
  @include max(1440px) {
    font-size: 44px;
    line-height: 65px;
  }
  @include max($md) {
    font-size: 40px;
    line-height: 48px;
  }
}

h3 {
  font-size: 19px;
  line-height: 27px;
  @include max(1440px) {
    font-size: 16px;
    line-height: 24px;
  }

}
.col-sm-6 {
  @include col();
  @include size(6);
  @include max($sm) {
    @include size(12);
  }
  @include max($xs) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.main-content {
  max-width: 620px;
  font-family: "DIN Next LT Pro Light";
  p {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 20px;
    @include minmax($sm-small,1440px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &.position-sticky {
    h1 {
      margin-top: 0;
    }
  }
  h1 {
    margin-bottom: 104px;
    margin-top: 120px;
    text-transform: uppercase;
    @include max($lg-tablet) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  .margin-top-0 {
    margin-top: -181px;
    @include max($sm) {
      margin-top: 0;
    }
  }
  &.sticky {
    h1 {
      margin-top: 0;
      margin-bottom: 90px;
    }
  }
  a {
    font-size: 19px;
    line-height: 27px;
    color: $black;
    font-family: "DIN Next LT Pro Bold";
    text-decoration: underline;
    @include minmax($sm-small,1440px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

//.image-block {
//  margin-bottom: 100px;
//  @include max($lg-tablet) {
//    margin-bottom: 50px;
//  }
//}

.logo-image {
  margin-bottom: 40px;
  img {
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    display: block;
  }
}

.credit-section  {
  width: calc(100% - 14px);
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 150px;
  @include max($xs) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
  }
}

.credit-content {
  width: calc(33.33% - 16px);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 40px;
  @include max($md) {
    width: calc(50% - 16px);
  }
  @include max($sm) {
    width: calc(100% - 16px);
  }
  @include max($xs) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .content {
    height: calc(100% - 116px);
  }
  h3 {
    margin-bottom: 40px;
  }
  p {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 40px;
    @include minmax($sm-small,1440px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.padding-content {
  padding: 50px 96px 10px 96px;
  @include max(1500px) {
    padding: 50px 30px 10px 30px;
  }
  @include max(850px) {
    padding: 50px 0 10px ;
  }

}

.content-info {
  width: calc(100% - 84px);
  margin-left: 42px;
  margin-right: 42px;
  margin-bottom: 40px;
  @include max($xs) {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  h1,h2 {
    text-align: center;
  }
  h2 {
    margin-bottom: 66px;
    text-transform: uppercase;
  }
  a {
    text-decoration: underline;
    color: $black;
    font-family: "DIN Next LT Pro Bold";
    &:hover {
      color: $blue;
    }
  }
}

.user-content {
  width: calc(33.33% - 84px);
  margin-left: 42px;
  margin-right: 42px;
  margin-bottom: 44px;
  @include max($lg) {
    width: calc(50% - 84px);
  }
  @include max(850px) {
    width: calc(100% - 84px);
  }
  @include max($xs) {
    width: calc(100% - 30px);
    margin-right: 15px;
    margin-left: 15px;
  }

  .top-info {
    margin-bottom: 12px;
  }
  .name {
    width: calc(100% - 110px);
    font-size: 19px;
    font-family: "DIN Next LT Pro Bold";
    margin-right: auto;
    @include minmax($sm-small,1440px) {
      font-size: 16px;
      line-height: 24px;
    }
    @include max(400px) {
      width: 100%;
      order: 2;
    }
  }
  .image {
    width: 100px;
    height: 100px;
    background-color: $white;
    border-radius: 50%;
    overflow: hidden;
    @include max($xs) {
      width: 70px;
      height: 70px;

    }
    @include max(400px) {
      order: 1;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }
  .content {
    font-size: 16px;
    line-height: 28px;
    @include minmax($sm-small,1440px) {
      font-size: 18px;
      line-height: 19px;
    }
  }
}

.main-title {
  @include col();
  @include size(12);
  @include max($xs) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  span {
    display: block;
  }
  .logo-image {
    img {
      width: 300px;
    }
  }
}