@import "swipe/media_mix";
@import "swipe/libs";
@import "swipe/smart-grid";

$white: #ffffff;
$black: #000000;
$black1: #181818;
$black2: #282828;
$blue: #001689;
$blue1: #0000E5;
$blue2: #0019D5;
$grey: #707070;
$grey1: #E0E0E0;
$grey2: #F7F7F7;
$red: #FF0049;

$lg: 1200px;
$lg-small: 1199px;
$lg-tablet: 1100px;
$md: 992px;
$md-small: 991px;
$sm: 767px;
$sm-small: 768px;
$xs: 576px;

// General /////
body {
  @include reset();
  margin: 0;
  overflow-x: hidden;
  font-family: "DIN Next LT Pro Light", sans-serif;
  font-size: 19px;
  background-color: $white;
  @include minmax($sm-small,1440px) {
    font-size: 16px;
  }
}

.wrapper {
  @include wrapper();
  .row {
    @include row-flex();
  }
}

a {
  cursor: pointer;
  text-decoration: none;

}

input,
a,
button {
  &:focus {
    outline: 0;
  }
}


button {
  cursor: pointer;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}


.overflow-hidden{
  overflow: hidden;
}

.none{
  display: none !important;
}

$transition: all 0.3s ease;
//******************************FONTS STYLES*********************/
@mixin font($type:$font__main, $weight: $regular, $style: normal) {
  font-family: $type;
  font-weight: $weight;
  font-style: $style;
}

@mixin transition($prop : all, $time-duration : .4s, $type: ease) {
  -webkit-transition: $prop $time-duration $type;
  -moz-transition: $prop $time-duration $type;
  -ms-transition: $prop $time-duration $type;
  -o-transition: $prop $time-duration $type;
  transition: $prop $time-duration $type;
}

