<header class="header-global" id="up">
    
    <nav aria-label="Primary navigation" class="navbar">
        <div class="container">
            <div class="navbar__inner">
                <div class="navbar__inner__logo">
                    <a href="@@path/index.html">
                        <img src="@@path/assets/img/logo/logo.png" alt="logo">
                    </a>
                </div>
                <div class="navbar__inner__menu">
                    <ul>
                      <li><a href="#about">about</a></li>
                      <li><a href="#services">services</a></li>
                      <li><a href="#team">team</a></li>
                      <li><a href="#reviews">reviews</a></li>
                      <li><a href="#questions">questions</a></li>
                      <li><a href="#contacts">contacts</a></li>
                      <li><a href="@@path/pages/page2.html">page 2</a></li>
                    </ul>
                </div>
                <div class="navbar__inner__burger menu-toggle">
                    <svg>
                        <use xlink:href="assets/icons/sprite.svg#menu"></use>
                    </svg>
                </div>
            </div>
        </div>
    </nav>
  
    <nav aria-label="Primary navigation" class="navbar navbar--scroll">
        <div class="container">
            <div class="navbar__inner">
                <div class="navbar__inner__logo">
                    <a href="@@path/index.html">
                        <img src="@@path/assets/img/logo/logo.png" alt="logo">
                    </a>
                </div>
                <div class="navbar__inner__menu">
                    <ul>
                      <li><a href="#about">about</a></li>
                      <li><a href="#services">services</a></li>
                      <li><a href="#team">team</a></li>
                      <li><a href="#reviews">reviews</a></li>
                      <li><a href="#questions">questions</a></li>
                      <li><a href="#contacts">contacts</a></li>
                      <li><a href="@@path/pages/page2.html">page 2</a></li>
                    </ul>
                </div>
                <div class="navbar__inner__burger menu-toggle">
                    <svg>
                        <use xlink:href="assets/icons/sprite.svg#menu"></use>
                    </svg>
                </div>
            </div>
        </div>
    </nav>

    <div class="mmenu">
        <div class="menu-toggle">
            <svg>
                <use xlink:href="assets/icons/sprite.svg#close"></use>
            </svg>
        </div>
        <ul>
            <li><a href="#about">about</a></li>
            <li><a href="#services">services</a></li>
            <li><a href="#team">team</a></li>
            <li><a href="#reviews">reviews</a></li>
            <li><a href="#questions">questions</a></li>
            <li><a href="#contacts">contacts</a></li>
        </ul>
    </div>
</header>