<header class="header" id="up">
    <div class="topbar">
        <div class="container">
            <div class="topbar__inner">
                <div class="topbar__phone">
                    <a href="tel:+373 60 125 521">
                        <svg>
                            <use xlink:href="assets/img/sprite.svg#telephone"></use>
                        </svg>
                        +373 60 125 521
                    </a>
                </div>
                <div class="topbar__actions">
                    <div class="topbar__block topbar__block--languages">
                        RO
                    </div>
                    <div class="topbar__block topbar__block--search">
                        Căutare
                    </div>
                    <div class="topbar__block topbar__block--logging">
                        Intrare
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="container">
            <div class="navbar__inner">
                <div class="navbar__logo">
                    <a href="@@path/index.html">
                        <img src="@@path/assets/img/logo/logo.png" alt="logo">
                    </a>
                </div>
                <nav class="navbar__menu">
                    <ul>
                        <li><a href="./index.html">Principala</a></li>
                        <li><a href="./catalog.html">Catalog</a></li>
                        <li><a href="./shipping.html">Livrare și plată</a></li>
                        <li><a href="./contacts.html">Contacte</a></li>
                    </ul>
                </nav>
                <div class="navbar__actions">
                    <button class="navbar__btn navbar__btn--wishlist">
                        <svg>
                            <use xlink:href="assets/img/sprite.svg#heart"></use>
                        </svg>
                        <div class="navbar__counter">0</div>
                    </button>
                    <button class="navbar__btn navbar__btn--shipping">
                        <svg>
                            <use xlink:href="assets/img/sprite.svg#exchange"></use>
                        </svg>
                        <div class="navbar__counter">0</div>
                    </button>
                    <button class="navbar__btn navbar__btn--basket">
                        <svg>
                            <use xlink:href="assets/img/sprite.svg#shopping-bag"></use>
                        </svg>
                        <div class="navbar__counter navbar__counter--active">3</div>
                    </button>
                </div>
                <div class="navbar__burger menu-toggle">
                    <button>
                        <svg>
                            <use xlink:href="assets/img/sprite.svg#menu"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mmenu">
        <div class="menu-toggle">
            <svg>
                <use xlink:href="assets/img/sprite.svg#close"></use>
            </svg>
        </div>
        <ul>
            <li><a href="./index.html">Principala</a></li>
            <li><a href="./catalog.html">Catalog</a></li>
            <li><a href="./shipping.html">Livrare și plată</a></li>
            <li><a href="./contacts.html">Contacte</a></li>
        </ul>
    </div>
</header>