<header class="header" id="up">
    <div class="top-header">
        <div class="container">
            <div class="top-header__inner">
               top header
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="container">
            <div class="navbar__inner">
                nav
            </div>
        </div>
    </div>
</header>

<!-- start MMENU -->
<div class="modal-bg" data-mmenu-trigger data-mmenu-modalBg></div>
<aside class="mmenu">

    <div class="mmenu__title">
        Meniu
    </div>

    <div class="mmenu__close" data-mmenu-trigger>
        <svg>
            <use xlink:href="assets/img/sprite.svg#close"></use>
        </svg>
    </div>
    <!-- start mmenu__inner -->
    <nav class="mmenu__inner">
        <ul class="mmenu__links">
            <li data-categories-parent>
                <span>Catalog</span>
                <div class="mmenu__categories" data-categories>
                    <ul>
                        <li class="mmenu__subcategories">
                            <span data-subcategory>Cazane și accesorii</span>
                            <div class="mmenu__dropdown">
                                <div class="mmenu__go-back" data-subcategory>înapoi</div>
                                <ul>
                                    <span>Cazane și accesorii</span>
                                    <li><a href="#">Cazane și accesorii</a></li>
                                    <li><a href="#">Cazan + cuptor</a></li>
                                    <li><a href="#">Grătare de vară și accesorii</a></li>
                                    <li><a href="#">Smokers și grătare de grătar</a></li>
                                    <li><a href="#">Saj tigaie</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Cazan + cuptor</a></li>
                        <li class="mmenu__subcategories">
                            <span class="active" data-subcategory>Tandoor</span>
                            <div class="mmenu__dropdown">
                                <div class="mmenu__go-back" data-subcategory>înapoi</div>
                                <ul>
                                    <span>Tandoor</span>
                                    <li><a href="#">Cazane și accesorii</a></li>
                                    <li><a href="#">Cazan + cuptor</a></li>
                                    <li><a href="#" class="active">Accesorii</a></li>
                                    <li><a href="#">Grătare de vară și accesorii</a></li>
                                    <li><a href="#">Smokers și grătare de grătar</a></li>
                                    <li><a href="#">Saj tigaie</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Grătare de vară și accesorii</a></li>
                        <li><a href="#">Smokers și grătare de grătar</a></li>
                        <li class="mmenu__subcategories">
                            <span data-subcategory>Veselă din Uzbekistan</span>
                            <div class="mmenu__dropdown">
                                <div class="mmenu__go-back" data-subcategory>înapoi</div>
                                <ul>
                                    <span>Veselă din Uzbekistan</span>
                                    <li><a href="#">Cazane și accesorii</a></li>
                                    <li><a href="#">Cazan + cuptor</a></li>
                                    <li><a href="#">Tandoor</a></li>
                                    <li><a href="#">Grătare de vară și accesorii</a></li>
                                    <li><a href="#">Smokers și grătare de grătar</a></li>
                                    <li><a href="#">Saj tigaie</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Saj tigaie</a></li>
                        <li class="mmenu__subcategories">
                            <span data-subcategory>Produse pentru dacie și grădină</span>
                            <div class="mmenu__dropdown">
                                <div class="mmenu__go-back" data-subcategory>înapoi</div>
                                <ul>
                                    <span>Produse pentru dacie și grădină</span>
                                    <li><a href="#">Cazane și accesorii</a></li>
                                    <li><a href="#">Cazan + cuptor</a></li>
                                    <li><a href="#">Tandoor</a></li>
                                    <li><a href="#">Grătare de vară și accesorii</a></li>
                                    <li><a href="#">Smokers și grătare de grătar</a></li>
                                    <li><a href="#">Saj tigaie</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mmenu__subcategories">
                            <span data-subcategory>Veselă din fontă</span>
                            <div class="mmenu__dropdown">
                                <div class="mmenu__go-back" data-subcategory>înapoi</div>
                                <ul>
                                    <span>Veselă din fontă</span>
                                    <li><a href="#">Cazane și accesorii</a></li>
                                    <li><a href="#">Cazan + cuptor</a></li>
                                    <li><a href="#">Tandoor</a></li>
                                    <li><a href="#">Grătare de vară și accesorii</a></li>
                                    <li><a href="#">Smokers și grătare de grătar</a></li>
                                    <li><a href="#">Saj tigaie</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mmenu__subcategories">
                            <span data-subcategory>Samovarii</span>
                            <div class="mmenu__dropdown">
                                <div class="mmenu__go-back" data-subcategory>înapoi</div>
                                <ul>
                                    <span>Samovarii</span>
                                    <li><a href="#">Cazane și accesorii</a></li>
                                    <li><a href="#">Cazan + cuptor</a></li>
                                    <li><a href="#">Tandoor</a></li>
                                    <li><a href="#">Grătare de vară și accesorii</a></li>
                                    <li><a href="#">Smokers și grătare de grătar</a></li>
                                    <li><a href="#">Saj tigaie</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mmenu__subcategories">
                            <span data-subcategory>Cuțite și topoare</span>
                            <div class="mmenu__dropdown">
                                <div class="mmenu__go-back" data-subcategory>înapoi</div>
                                <ul>
                                    <span>Cuțite și topoare</span>
                                    <li><a href="#">Cazane și accesorii</a></li>
                                    <li><a href="#">Cazan + cuptor</a></li>
                                    <li><a href="#">Tandoor</a></li>
                                    <li><a href="#">Grătare de vară și accesorii</a></li>
                                    <li><a href="#">Smokers și grătare de grătar</a></li>
                                    <li><a href="#">Saj tigaie</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mmenu__subcategories">
                            <span data-subcategory>Mantovarki</span>
                            <div class="mmenu__dropdown">
                                <div class="mmenu__go-back" data-subcategory>înapoi</div>
                                <ul>
                                    <span>Mantovarki</span>
                                    <li><a href="#">Cazane și accesorii</a></li>
                                    <li><a href="#">Cazan + cuptor</a></li>
                                    <li><a href="#">Tandoor</a></li>
                                    <li><a href="#">Grătare de vară și accesorii</a></li>
                                    <li><a href="#">Smokers și grătare de grătar</a></li>
                                    <li><a href="#">Saj tigaie</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Orez, condimente, ceai etc.</a></li>
                        <li><a href="#">Suveniruri</a></li>
                        <li><a href="#">Reduceri și promoții!</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="./shipping.html">Livrare și plată</a></li>
            <li><a href="./contacts.html">Contacte</a></li>
        </ul>
        <ul class="mmenu__links mmenu__links--account">
            <li class="mmenu__link mmenu__link--login"><a href="#">Contul meu</a></li>
        </ul>
        <div class="mmenu__languages">
            RO
            <div class="mmenu__options">
                <ul>
                    <li><a href="#">RU</a></li>
                    <li><a href="#">EN</a></li>
                </ul>
            </div>
        </div>
    </nav><!-- end mmenu__inner -->
</aside><!-- end MMENU -->