<!------------------------------------------------------------------------------------------------------>
<!----------------------------------------------    Modals    ------------------------------------------>
<!------------------------------------------------------------------------------------------------------>

<!-- Quick view -->
<div class="modal fade modal-q-view">
    <div class="modal__inner">
        <div class="modal__close">
            <svg>
                <use xlink:href="assets/img/sprite.svg#close"></use>
            </svg>
        </div>
        Modal
    </div>
</div>
<!-- / Quick view -->