.scroll-up {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  z-index: 30;
  background-color: palette(main, base);
  cursor: pointer;
  transition: all 0.3s;
  visibility: hidden;

  &:hover {
    background-color: palette(main, dark);
  }

  @include mq(844px) {
    bottom: 90px;
    right: 5px;
  }

  @include mq(500px) {
    width: 30px;
    height: 30px;
  }

  i {
    font-size: 2rem;
    color: white;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-49%, -50%);
  }
}