.scroll-up {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 33px;
  right: 10px;
  z-index: 30;
  background-color: palette(main, base);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: palette(main, dark);
  }

  @include mq(844px) {
    bottom: 90px;
    right: 0;
  }

  @include mq(500px) {
    width: 2.5rem;
    height: 2.5rem;
    bottom: 80px;
  }

  i {
    font-size: 2rem;
    color: white;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-49%, -50%);
  }
}