.btn {
    position: relative;
    display: block;
    background-color: $main-color;
    width: 14rem;
    height: 3.75rem;
    border-radius: 30px;
    margin-top: 3rem;
    transition: all .1s;
    // text
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.7px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.7rem;

    &:hover {
        color: white;
        text-decoration: none;
        box-shadow: 0 0 10px $main-color;
    }

    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }

    &::after {
        @include fontAwesome;
        // content: "\f073";
        // font-weight: 400;
        font-size: 14px;
        color: #fff;
        @include align-center(vertical);
        right: 1.56rem;
    }
}


// ----------------------------------------------------
.pageUp {
    opacity: 1;
    width: 37px;
    height: 37px;
    position: fixed;
    bottom: 33px;
    right: 2%;
    z-index: 30;
    background-color: $main-color;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    cursor: pointer;
    transition: all .2s;
    opacity: 0;

    &:hover {
        background-color: darken($main-color, 5%);
    }

    i {
        font-size: 18px;
        color: white;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-49%, -50%);
    }
}